
.sidebar-nav {
  --sidebar-nav-transition-duration: 300ms;
  --sidebar-nav-sticky-top: var(--bs-spacing-6);
  --sidebar-nav-sticky-top-horizontal: var(--bs-spacing-8);
  --sidebar-nav-sticky-top-horizontal-open: var(--bs-spacing-12);

  min-height: 100vh;
  transition: all var(--sidebar-nav-transition-duration) ease 0s;

  // Sticky sidebar-nav-inner.
  &-inner {
    flex: 0 0 100%;
    height: 100%;
    position: sticky;
    top: var(--sidebar-nav-sticky-top);
  }
  body.toolbar-horizontal & {
    .sidebar-nav-inner {
      top: var(--sidebar-nav-sticky-top-horizontal);
    }
  }
  body.toolbar-horizontal.toolbar-tray-open & {
    .sidebar-nav-inner {
      top: var(--sidebar-nav-sticky-top-horizontal-open);
    }
  }

  .region {
    overflow: hidden;
    transition: width var(--sidebar-nav-transition-duration) ease;
    white-space: nowrap;
  }

  // Block menu.
  .block-menu {
    transition: opacity var(--sidebar-nav-transition-duration) ease;

    .nav-item {
      flex: 0 0 100%;
    }
  }

  // Branding system: Block.
  .block-system-branding-block {
    --sidebar-nav-site-branding-block-mb: var(--bs-spacing-3);
    --sidebar-nav-site-branding-name-color: #fff;
    --sidebar-nav-site-branding-name-td: none;
    --sidebar-nav-site-branding-name-fs: 18px;
    --sidebar-nav-site-branding-name-fw: 700;
    --sidebar-nav-site-branding-slogan-fs: 10px;

    margin-bottom: var(--sidebar-nav-site-branding-block-mb);
  }

  // Branding system: Site information.
  .site-title {
    color: var(--sidebar-nav-site-branding-name-color);
    font-size: var(--sidebar-nav-site-branding-name-fs);
    font-weight: var(--sidebar-nav-site-branding-name-fw);
    text-decoration: var(--sidebar-nav-site-branding-name-td);
  }
  .site-slogan {
    font-size: var(--sidebar-nav-site-branding-slogan-fs);
  }

  // Navigation links.
  .nav {
    --sidebar-nav-link-py: 8px;
    --sidebar-nav-link-px: 0;
    --sidebar-nav-active-link-radius: 4px;
    --sidebar-nav-active-link-bg-color: #14132e;
    --sidebar-nav-active-link-color: #fff;

    --sidebar-nav-dropdown-link-pl: var(--bs-spacing-6);
    --sidebar-nav-dropdown-link-collapsed-pl: var(--bs-spacing-2);
    --sidebar-nav-dropdown-link-color: #fff;

    .nav-link{
      padding: var(--sidebar-nav-link-py) var(--sidebar-nav-link-px);

      &.is-active {
        background-color: var(--sidebar-nav-active-link-bg-color);
        border-radius: var(--sidebar-nav-active-link-radius);
        color: var(--sidebar-nav-active-link-color);
      }
    }
  }

  .dropdown-nav {
    padding-left: var(--sidebar-nav-dropdown-link-pl);
    .nav-link {
      color: var(--sidebar-nav-dropdown-link-color);
    }
  }
  &.collapsed .dropdown-nav {
    padding-left: var(--sidebar-nav-dropdown-link-collapsed-pl);
  }

  // Slide toggle.
  .js-slide-toggle {
    --sidebar-nav-slide-toggle-icon-color: var(--bs-dark);
    --sidebar-nav-slide-toggle-icon-color-active: var(--bs-dark);
    --sidebar-nav-slide-toggle-icon-fs: 14px;
    --sidebar-nav-slide-toggle-icon-bs-size: 0 0 10px;
    --sidebar-nav-slide-toggle-icon-bs-color: rgb(0 0 0 / 15%);

    --sidebar-nav-slide-toggle-bg-color: #fff;
    --sidebar-nav-slide-toggle-position-right: -36px;
    --sidebar-nav-slide-toggle-position-right-collapsed: -30px;
    --sidebar-nav-slide-toggle-position-top: 16px;
    --sidebar-nav-slide-toggle-position-index: 10;
    --sidebar-nav-slide-toggle-rounded: 60px;
    --sidebar-nav-slide-toggle-height: 24px;
    --sidebar-nav-slide-toggle-width: 24px;
    --sidebar-nav-slide-toggle-transform-duration: 600ms;
    --sidebar-nav-slide-toggle-transform-rotate: 180deg;

    background-color: var(--sidebar-nav-slide-toggle-bg-color);
    border: 0;
    border-radius: var(--sidebar-nav-slide-toggle-rounded);
    box-shadow: var(--sidebar-nav-slide-toggle-icon-bs-size) var(--sidebar-nav-slide-toggle-icon-bs-color);
    height: var(--sidebar-nav-slide-toggle-height);
    opacity: 0;
    position: absolute;
    right: var(--sidebar-nav-slide-toggle-position-right);
    top: var(--sidebar-nav-slide-toggle-position-top);
    transition: transform var(--sidebar-nav-slide-toggle-transform-duration) ease 0s;
    transform: rotate(0);
    width: var(--sidebar-nav-slide-toggle-width);
    z-index: var(--sidebar-nav-slide-toggle-position-index);

    i {
      color: var(--sidebar-nav-slide-toggle-icon-color);
      font-size: var(--sidebar-nav-slide-toggle-icon-fs);
      line-height: var(--sidebar-nav-slide-toggle-icon-fs);
    }

    &.active {
      transform: rotate(var(--sidebar-nav-slide-toggle-transform-rotate));

      i {
        color: var(--sidebar-nav-slide-toggle-icon-color-active);
      }
    }
  }
  &:hover .js-slide-toggle {
    opacity: 1;
  }
  &.collapsed .js-slide-toggle {
    right: var(--sidebar-nav-slide-toggle-position-right-collapsed);
  }

  // Collapsed styles.
  &.collapsed {
    .contextual {
      display: none !important;
    }

    @include media-breakpoint-up(lg) {
      width: 80px;
      .region {
        width: 40px;
      }
    }

    .site-info {
      opacity: 0;
    }
  }
}
